@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #EFECE7;
}

.wrapper {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

header ul {
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}

header li {
  float: left;
  font-weight: bold; 
  font-size: 1.0em;
  letter-spacing: 0.9px;
}

header a {
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  color: #000;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: 0.3s;
}

header a:hover {
  color: #EFB73A;
}

.active {
  color: #EFB73A;
}
 
header h1 {
  float: right;
  color: #EFB73A;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.fieldwork-container {
  padding: 55px 90px 70px 55px;
  width: 1000px; 
}

#fieldwork {
  background: #EFECE7;
  color: #3C3C3B;
  padding-top: 80px;
}

#fieldwork h1 {
  font-size: 36px;
  text-align: justify;
}

.container {
  // continue here !!!!!!!!!!!!
}

#fabled {
  background: #CB9200;
}
